:root {
    --inter: 'Inter', sans-serif;
    --mulish: 'Mulish', sans-serif;
    --playfair: 'Playfair Display', serif;
    --thin: #C4C4C4;
    --extra-light: #B8BECD;
    --light: #AFB0B9;
    --regular: #848484;
    --medium: #80918E;
    --semi-bold: #7D7987;
    --bold: #4A4C53;
    --extra-bold: #202336;
    --dark-green: #042521;
    --orange: #FB8F1D;
}

* {
    box-sizing: border-box;
}

body {
    max-width: auto;
    margin: 0 5%;
    padding: 0;
    font-family: var(--mulish);
}

a {text-decoration: none;}
/* a:link {color: inherit}
a:visited {color: inherit;}
a:hover {color: inherit;}
a:active {color: inherit;} */
.ft-inter {font-family: var(--inter);}
.ft-playfair {font-family: var(--playfair);}
.ft-12 {font-size: 0.75rem;}
.ft-16 {font-size: 1rem;}
.ft-22 {font-size: 1.375rem;}
.ft-36 {font-size: 2rem;}
.ft-64 {font-size: 4rem;}
.ft-md {font-weight: 500;}
.ft-bd {font-weight: 700;}
.ft-lh-30 {line-height: 30px;}
.cl-bd {color: var(--bold);}
.cl-sb {color: var(--semi-bold);}
.cl-xb {color: var(--extra-bold);}
.cl-xl {color: var(--extra-light);}
.mx-1 {margin: 1rem 0;}
.flex.row {display: flex; flex-flow: row wrap;}
.flex.column {display: flex; flex-flow: column wrap;}
.grid {display: grid;}
button, input, select, a {cursor: pointer;}

/* Navigation section */
nav {
    max-width: 100%;
    height: 6rem;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
}

.nav-container:nth-of-type(1) {width: 45%;}
.nav-container:nth-of-type(2) {width: 55%;}
.nav-link {font-family: var(--inter);}
.nav-link:hover {
    color: var(--extra-bold); 
    font-weight: 500;
}

.nav-cta {
    width: calc(100% - 58%);
    justify-content: space-between;
}

.btn-cta {
    width: 130px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
}

.btn-cta.login {
    border: 1px solid var(--orange);
    background-color: #FFF;
    color: var(--orange);
}

.btn-cta.register {
    border: 1px solid var(--orang);
    background-color: var(--orange);
    color: #FFF;
}

.btn-cta:hover {
    transition-property: filter;
    transition-duration: 0.3s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.btn-cta.cta {width: 160px;}

/* Section One */
.section {
    max-width: 100%;
    height: auto;
    margin: 1.6rem 0;
}

.section.one {
    grid-template-columns: 0.8fr 1fr;
    column-gap: 2rem;
}

.content-container.hero-image, .img-container {
    justify-content: flex-end;
    align-items: center;
}

.img-container img {
    max-width: 100%;
    height: 100%;
}

form h1 {margin-right: 30%;}
.hr-one {
    width: 2.5rem;
    margin-left: 0;
    border: 1px solid var(--extra-bold);
}

.form-control-select {
    width: 80%;
    margin: 2rem 0;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 1.6rem;
}

.select-control-styled {
    position: relative;
    height: 3.3rem;
    border: 0.8px solid var(--light);
    border-radius: 6px; 
    background-color: initial;
}

.select-control-styled select {
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.fa-angle-down {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

/* Section two */
.section.two {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin: 4rem 0;
}

.content-container.my {margin: auto 15%;}

.img-container.two img {
    max-width: 100%;
    height: 100%;
}

